###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/

###< symfony/framework-bundle ###
/.docker/.env.nginx.local
auth.json

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

.docker/.env

.vscode/launch.json

## outros
post_test_shopify.json

###> baldinof/roadrunner-bundle ###
/bin/rr
###< baldinof/roadrunner-bundle ###
